### 1. What is []?
### Answer:-
[] is a empty list. In,python we use square bracket to create a list. In this case in square bracket or we can say that list has no element. so we can say that is empty list. Boolean value of empty list is always false.

In [1]:
bool([])

False

### 2. How would you assign the value 'hello' as the third value in a list stored in a variable named spam? (Assume spam contains [2, 4, 6, 8, 10].)
### Answer:-
spam.insert(2,'hello')

spam = [2,4,'hello',6,8,10]

In [5]:
spam = [2,4,6,8,10]

In [6]:
spam.insert(2,"hello")

In [7]:
spam

[2, 4, 'hello', 6, 8, 10]

## For the following three questions, let’s say spam contains the list ['a', 'b', 'c', 'd'].

### 3. What does spam[int(int('3' * 2) // 11)] evaluate to?
### Answer:-
spam[int(int('3'*2)//11)]

spam[int(int('33')//11)]

spam[int(33//11)]

spam[int(3)]

spam[3]

ans:- 'd'

In [16]:
spam = ['a','b','c','d']

In [17]:
spam[int(int('3'*2)//11)]

'd'

### 4. What does spam[-1] evaluate to?
### Answer:- 'd'

In [19]:
spam = ['a','b','c','d']

In [20]:
spam[-1]

'd'

### 5. What does spam[:2] evaluate to?
### Answer:- ['a','b']

In [23]:
spam

['a', 'b', 'c', 'd']

In [24]:
spam[:2]

['a', 'b']

## For the following three questions, let’s say bacon contains the list [3.14, 'cat', 11, 'cat', True].

In [25]:
bacon = [3.14,'cat',11,'cat',True]

### 6. What does bacon.index('cat') evaluate to?
### Answer:- 1

In [26]:
bacon.index("cat")

1

### 7. What does bacon.append(99) make the list value in bacon look like?
### Answer:-
bacon = [3.14,'cat',11,'cat',True,99]

In [27]:
bacon.append(99)

In [28]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. What does bacon.remove('cat') make the list value in bacon look like?
### Answer:-
bacon = [3.14,11,'cat',True,99]

In [29]:
bacon.remove('cat')

In [30]:
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the operators for list concatenation and list replication?
### Answer:- 
list concatenatino :- +

list replication :- *

In [31]:
l = [1,2,3]

In [36]:
l+l #concatenation

[1, 2, 3, 1, 2, 3]

In [37]:
l

[1, 2, 3]

In [38]:
l*3 #replication

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
l

[1, 2, 3]

### 10. What is the difference between the append() and insert() list methods?
### Answer:-
append() add an element in the last position of the list and insert add element in the given index value.

In [40]:
l

[1, 2, 3]

In [41]:
l.append(4)

In [42]:
l

[1, 2, 3, 4]

In [44]:
l.insert(1,5)

In [45]:
l

[1, 5, 2, 3, 4]

### 11. What are two ways to remove values from a list?
### Answer:- 
1. pop()

2. remove()

In [47]:
l

[1, 5, 2, 3, 4]

In [48]:
l.pop()

4

In [49]:
l.pop(1)

5

In [50]:
l

[1, 2, 3]

In [51]:
l.remove(2)

In [52]:
l

[1, 3]

### 12. Name a few ways that list values are similar to string values.
### Answer:- Both are Iterable,sequential,indexing and slicing possible

### 13. What is the difference between lists and tuples?
### Answer:-
List is mutable means value of list can be change in same id but tuple is immutable means value of tuple can't be changed.

In [60]:
l

[1, 3, 2, 2]

In [61]:
id(l)

3036131474440

In [62]:
l.append(2)

In [63]:
id(l)

3036131474440

In [64]:
list("hii")

['h', 'i', 'i']

In [65]:
s = "hii"

In [66]:
l = list(s)

In [67]:
l

['h', 'i', 'i']

### 14. How do you type the tuple value that has just the integer value 42 in it?
### Answer:- 
t = (42,)

In [71]:
t = (42,)

In [72]:
print(type(t))

<class 'tuple'>

### 15. How can you get the tuple form of a list value? How can you get the list form of a tuple value?
### Answer:-
l = [1,2,3]

t = tuple(l) #tuple from list

a = list(t) #list from tuple

In [73]:
l = [1,2,3]

In [74]:
t = tuple(l)

In [75]:
t

(1, 2, 3)

In [76]:
a = list(t)

In [77]:
a

[1, 2, 3]

### 16. Variables that “contain” list values don’t actually contain lists directly. What do they contain instead?
### Answer:-
variable contains id of list. It means the list value store on that id. And when we use variable, varible go to that id and then take values from that id. In list each index value has seprate id which means list index contain id of original data.

In [78]:
l = [1,2,3]

In [79]:
id(l)

3036131742344

In [80]:
id(l[0])

1966894144

In [81]:
id(l[1])

1966894176

In [82]:
id(l[2])

1966894208

### 17. What is the difference between copy.copy() and copy.deepcopy() ?
### Answer:-

In [84]:
l = [1,2,3,[4,5,6],7,8]

In [85]:
id(l)

3036131473416

In [86]:
import copy

In [90]:
x = copy.copy(l) #shallow copy

In [88]:
x

[1, 2, 3, [4, 5, 6], 7, 8]

In [89]:
id(x)

3036131759368

In [94]:
y = copy.deepcopy(l) #deep copy

In [92]:
y

[1, 2, 3, [4, 5, 6], 7, 8]

In [93]:
id(y)

3036131760328

In [95]:
x[1] = 4

In [96]:
x

[1, 4, 3, [4, 5, 6], 7, 8]

In [97]:
l

[1, 2, 3, [4, 5, 6], 7, 8]

In [98]:
y

[1, 2, 3, [4, 5, 6], 7, 8]

In [99]:
x[3][2] = 9

In [100]:
x

[1, 4, 3, [4, 5, 9], 7, 8]

In [101]:
l

[1, 2, 3, [4, 5, 9], 7, 8]

In [102]:
y

[1, 2, 3, [4, 5, 6], 7, 8]

In [103]:
y[3][1] = 8

In [104]:
y

[1, 2, 3, [4, 8, 6], 7, 8]

In [105]:
x

[1, 4, 3, [4, 5, 9], 7, 8]

In [106]:
l

[1, 2, 3, [4, 5, 9], 7, 8]

In [3]:
a = str({"name":"gaurav"})

In [4]:
a[0:6]

"{'name"

In [5]:
a[0]

'{'

In [6]:
list(1)

TypeError: 'int' object is not iterable

In [7]:
list((1,2))

[1, 2]

In [14]:
dict([(1,2)])

{1: 2}

In [15]:
dict(zip([1,2,3],[1,2]))

{1: 1, 2: 2}